:root {
  font-size: calc(1vw + 1vh + 1.5vmin);
}

body {
  background-color: #010a00;
  font-family: helvetica;
  font-size: 1.8rem;
}

h1 {
  font-weight: 400;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
